.project p {
  line-height: 1.75rem;
}

.project code {
  border-radius: 0.125rem;
  background-color: #262626;
  padding: 2px 0.25rem;
  color: #ef4444;
}

.project h2 {
  margin-top: 1.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #f5f5f5;
}

.project h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #f5f5f5;
}

.project a {
  color: #f5f5f5;
  text-decoration: underline;
}

.project ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

.project blockquote {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.project blockquote::before {
  content: "";
  display: block;
  width: 1px;
  background-color: #f87171;
}

.project pre {
  padding: 1rem;
}

.project pre > code {
  background-color: transparent;
}
