---
import Layout from '../layouts/ProjectsPost.astro';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/placeholder-about.jpg"
>
	<p>
		Details
	</p>
</Layout>
