---
import Layout from '../layouts/ProjectsPost.astro';
---

<Layout
	title="Contact"
	description=""
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
>
	<p>
		Contact Details here..
	</p>
</Layout>
