---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";
import presentation from "@/data/presentation";

const projects = await getCollection("projects");
---

<Layout>
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8">
      <div class="flex items-center gap-6">
        <img
          class="rounded-full"
          width={130}
          height={151}
          src="/me.jpg"
          alt=""
        />
        <h1 class="text-3xl text-neutral-100">
          {presentation.title}
        </h1>
      </div>
      <h2
        class="max-w-[60ch] leading-6"
        set:html={convertAsteriskToStrongTag(presentation.description)}
      />

      <h3 class="text-lg text-neutral-100">Things I work with:</h3>
      <div class="flex flex-wrap">
        <img
          alt="React"
          src="https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white"
        />
        <img
          alt="Webpack"
          src="https://img.shields.io/badge/-Webpack-8DD6F9?style=flat-square&logo=webpack&logoColor=white"
        />
        <img
          alt="Docker"
          src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white"
        />
        <img
          alt="capacitor"
          src="https://img.shields.io/badge/Capacitor-119EFF?style=flat-square&logo=Capacitor&logoColor=white"
        />
        <img
          alt="TypeScript"
          src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white"
        />
        <img
          alt="github actions"
          src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white"
        />
        <img
          alt="poweshell"
          src="https://img.shields.io/badge/powershell-5391FE?style=flat-square&logo=powershell&logoColor=white"
        />
        <img
          alt="ionic"
          src="https://img.shields.io/badge/Ionic-3880FF?style=flat-square&logo=ionic&logoColor=white"
        />
        <img
          alt="vscode"
          src="https://img.shields.io/badge/Visual_Studio_Code-0078D4?style=flat-square&logo=visual%20studio%20code&logoColor=white"
        />
        <img
          alt="Google Cloud Platform"
          src="https://img.shields.io/badge/-Google_Cloud_Platform-1a73e8?style=flat-square&logo=google-cloud&logoColor=white"
        />
        <img
          alt="jira"
          src="https://img.shields.io/badge/Jira-0052CC?style=flat-square&logo=Jira&logoColor=white"
        />
        <img
          alt="stripe"
          src="https://img.shields.io/badge/Stripe-626CD9?style=flat-square&logo=Stripe&logoColor=white"
        />
        <img
          alt="eslint"
          src="https://img.shields.io/badge/eslint-3A33D1?style=flat-square&logo=eslint&logoColor=white"
        />
        <img
          alt="dotnet"
          src="https://img.shields.io/badge/.NET-5C2D91?style=flat-square&logo=.net&logoColor=white"
        />
        <img
          alt="vstudio"
          src="https://img.shields.io/badge/Visual_Studio-5C2D91?style=flat-square&logo=visual%20studio&logoColor=white"
        />
        <img
          alt="rpi"
          src="https://img.shields.io/badge/Raspberry%20Pi-A22846?style=flat-square&logo=Raspberry%20Pi&logoColor=white"
        />
        <img
          alt="angular"
          src="https://img.shields.io/badge/-Angular-DD0031?style=flat-square&logo=angular&logoColor=white"
        />
        <img
          alt="twilio"
          src="https://img.shields.io/badge/Twilio-F22F46?style=flat-square&logo=Twilio&logoColor=white"
        />
        <img
          alt="npm"
          src="https://img.shields.io/badge/-NPM-CB3837?style=flat-square&logo=npm&logoColor=white"
        />
        <img
          alt="git"
          src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white"
        />
        <img
          alt="html5"
          src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=html5&logoColor=white"
        />
        <img
          alt="google analytics"
          src="https://img.shields.io/badge/Google%20Analytics-E37400?style=flat-square&logo=google%20analytics&logoColor=white"
        />
        <img
          alt="java"
          src="https://img.shields.io/badge/Java-ED8B00?style=flat-square&logo=openjdk&logoColor=white"
        />
        <img
          alt="aws"
          src="https://img.shields.io/badge/Amazon_AWS-FF9900?style=flat-square&logo=amazonaws&logoColor=white"
        />
        <img
          alt="Prettier"
          src="https://img.shields.io/badge/-Prettier-F7B93E?style=flat-square&logo=prettier&logoColor=white"
        />
        <img
          alt="linux"
          src="https://img.shields.io/badge/Linux-FCC624?style=flat-square&logo=linux&logoColor=white"
        />
        <img
          alt="csharp"
          src="https://img.shields.io/badge/C%23-239120?style=flat-square&logo=c-sharp&logoColor=white"
        />
        <img
          alt="Nodejs"
          src="https://img.shields.io/badge/-Nodejs-43853d?style=flat-square&logo=Node.js&logoColor=white"
        />
        <img
          alt="androidstudio"
          src="https://img.shields.io/badge/Android_Studio-3DDC84?style=flat-square&logo=android-studio&logoColor=white"
        />
        <img
          alt="projectgre"
          src="https://img.shields.io/badge/PostgreSQL-316192?style=flat-square&logo=projectgresql&logoColor=white"
        />
        <img
          alt="python"
          src="https://img.shields.io/badge/Python-14354C?style=flat-square&logo=python&logoColor=white"
        />
        <img
          alt="supabase"
          src="https://img.shields.io/badge/Supabase-181818?style=flat-square&logo=supabase&logoColor=white"
        />
        <img
          alt="shellscript"
          src="https://img.shields.io/badge/Shell_Script-121011?style=flat-square&logo=gnu-bash&logoColor=white"
        />
        <img
          alt="markdown"
          src="https://img.shields.io/badge/Markdown-000000?style=flat-square&logo=markdown&logoColor=white"
        />
        <img
          alt="intelij"
          src="https://img.shields.io/badge/IntelliJ_IDEA-000000.svg?style=flat-square&logo=intellij-idea&logoColor=white"
        />
        <img
          alt="webstorm"
          src="https://img.shields.io/badge/WebStorm-000000?style=flat-square&logo=WebStorm&logoColor=white"
        />
      </div>

      <h3 class="text-lg text-neutral-100">Where to find me:</h3>
      <SocialLinks />
    </article>
  </main>
</Layout>
