---
import Layout from "../layouts/ProjectsPost.astro";
---

<Layout
  title="About Me"
  description=""
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
  heroImage="/me.jpg"
>
  <main>
    <h1>Hi there 👋</h1>
  </main>
  <p>About Details here..</p>
</Layout>
