---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Stylianos Nicoletti. All rights reserved.
	<br>
	<br>
	<a href="https://astro.build">
		<img src="https://astro.badg.es/v1/built-with-astro/tiny.svg" alt="Built with Astro" width="109" height="20">
	  </a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
